aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
attrs==25.1.0
cairocffi==1.7.1
cffi==1.17.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
dataclasses-json==0.6.7
deepdiff==8.3.0
deprecated==1.2.18
dipy==1.10.0
fonttools==4.56.0
frozenlist==1.5.0
fury==0.12.0
h5py==3.13.0
idna==3.10
iniconfig==2.0.0
kiwisolver==1.4.8
lazy-loader==0.4
marshmallow==3.26.1
matplotlib==3.10.1
multidict==6.1.0
mypy-extensions==1.0.0
nibabel==5.3.2
numpy==2.2.3
orderly-set==5.3.0
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
propcache==0.3.0
pycparser==2.22
pygltflib==1.16.3
pyparsing==3.2.1
pyqt5==5.15.11
pyqt5-qt5==5.15.16
pyqt5-sip==12.17.0
pyside2==5.15.2.1
pytest==8.3.5
python-dateutil==2.9.0.post0
scipy==1.15.2
setuptools==76.0.0
setuptools-scm==8.2.0
shiboken2==5.15.2.1
six==1.17.0
tqdm==4.67.1
trx-python==0.3
typing-extensions==4.12.2
typing-inspect==0.9.0
vtk==9.3.1
wrapt==1.17.2
yarl==1.18.3
